.logo {
	text-align: center;
}
.logotext {
	color:black;
	margin-top:0px;

}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.data {
	padding-right:15%;
	text-align: right;
}
.data1 {
	margin-top: 10%;
	color:black;
	padding-right:15%;
	text-align: right;
}
.data2 {
	color:black;
	padding-right:15%;
	text-align: right;
}
.black {
	color:black;

}
a.black:hover {
	color:black;
}
.bar {
	margin-left:1%;
	margin-top: 1%;
}
.intro1 {

	color:grey;
	background: grey;
	width: 98%;
	height: 200px;
	margin-top:3%;
	margin-left: 2%;
}
.intro2 {
	margin-top:2%;
	margin-left: 2%;
}
.description {
	margin-left: 5px;
	margin-right: 5px;
	color: #2E2B2B;
}
.price {
	margin-left: 5px;
	margin-top: 10px;
	margin-bottom: 5px;
	color:#F79947;
}