{% extends "shop/HeadAndNavigation.html" %}
{% load staticfiles %}

{% block page %}
<div class="row" style="margin-top:1%">
            <div class="col-md-10 col-md-offset-2">
                <h2>Bag</h2>
            </div>
</div>
        <div class="row" style="margin-top:4%">
            <div class="col-md-9 col-md-offset-2">
            {% for item in cart%}
                <div id="{{item.1.id}}" class="row" style="border-bottom: 1px solid#888; padding-top:15px; font-size:85%">
                    <a href="/item/{{ item.0.id }}">
                    <div class="col-md-2">
                        <img src= "{{item.0.image.url}}" height=70 />
                    </div>
                    </a>
                    <div class="col-md-6">
                        <h5>{{ item.0.name }}</h5>
                    </div>

                    <div class="col-md-2">
                        <h5>Price: {{item.1.price}}</h5>
                        <h5>Size: {{item.1.size}}</h5>
                    </div>

                    <div class="col-md-2">
                        <div class="col-sm-12 controls">
                            <button id="{{item.1.id}}" class="btn btn-primary delete">Delete</button>
                        </div>
                    </div>
                    
                </div>
            {% endfor %}
            </div>
                
        </div>
        <div class="row" style="margin-top:4%">
            <div class="col-md-9 col-md-offset-2">
            <div class="row">
                <div class="col-md-2 col-md-offset-10">
                        <div class="col-sm-12 controls">
                        {% if total_price %}
                            {% if user and not user.is_anonymous %}
                                <a href="/payment/cart/"><button class="btn btn-primary buy">Buy</button></a>
                            {% else %}
                                <a href="/signin/" onclick="return confirm('You must be logged in to buy. Go to the authorization page?');">
                                    <button class="btn btn-primary auth">Buy</button>
                                </a>
                            {% endif %}
                        {% endif %}
                        </div>
                    </div>
            </div>
            </div>
        </div>
        <script>
            $(document).ready(function(){
            $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
            });
                $( "button.delete" ).click(function(){
                    var current_button = $(this);
                    $.ajax({
                        url: "/remove_from_cart/",
                        type: "POST",
                        data: {"article_id": $(this).attr('id')},
                        success: function(data){
                            var item = document.getElementById(current_button.attr('id'));
                            $(item).replaceWith('');
                            $('.bag').html(data);
                            if (data == 0) {
                                $('button.buy').replaceWith('');
                                $('button.auth').replaceWith('');
                            }
                            
                            
                        }
                        
                    });
                });
            });
        </script>
{% endblock page%}
