<!DOCTYPE html>
    <html>
      <head>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'shop/style.css' %}" type="text/css"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Colibri</title>
        <!-- Bootstrap -->
        <link href="{% static 'shop/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      </head>


      <body>

        <div class="row">
        <a href="{% url 'main' %}">
            <div class="col-md-2">
                    <div class="logo">
                        <img src= "{% static 'shop/images/51-45.jpg' %}" height=110 class="img-img-rounded" alt="Label" />
                        <h3 class="logotext">Colibri</h3>
                    </div>
                
            </div>

        </a>
        {% block head %}{% endblock%}
        </div>
        {% block navigation %}{% endblock%}
        {% block page %}{% endblock%}
        
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="{% static 'shop/js/bootstrap.min.js' %}"></script>
      </body>
    </html>