{% extends "shop/Base.html" %}
{% load staticfiles %}
{% block head %}
    <div class="col-md-5">
            <div style="padding-top: 19%">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-4">
                            <div class="input-group stylish-input-group">
                                 <input type="text" class="form-control"  placeholder="Search Colibri" >
                                    <span class="input-group-addon">
                                        <button type="submit">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>  
                                    </span>
                            </div>
                        </div>
                    </div>
             </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-9 col-md-offset-3">
                    <div style="padding-top: 0%">
                        <h3 class="data"><font face="times new roman">Welcome to Colibri</font></h3>
                        {% if user and not user.is_anonymous %}
                            <h4 class="data1"><font face="times new roman">Hi, <a style="color:black" href = "{% url 'profile' %}">{{user.first_name}}</a>, </font><a class="black" href = "{% url 'signout' %}"> sign out</a></h4>
                        {% else %}
                            <h4 class="data1"> <a class="black" href="{% url 'Signin' %}">Sign in</a> | <a class="black" href="{% url 'Signup' %}">Sign up</a></h4>
                        {% endif %}
                        
                        <h4 class="data2"> <a class="black" href="#">Help</a> | <a class="black" href="#">Saved items<!--<span class="badge">4</span>--></a>  | <a class="black" href="{% url 'Bag' %}">Bag(<span class='bag'>{{total_price}}</span>)<!--<span class="badge">2</span>--></a></h4>
                    </div>
                    </div>
                </div>
            </div>
{% endblock%}

{% block navigation %}
    <div class="row">
        <div class="bar">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="{% url 'main' %}">Catalog</a></li>
                    <li><a href="#">Rings</a></li>
                    <li><a href="#">Necklaces & Pendants</a></li>
                    <li><a href="#">Earrings</a></li>
                    <li><a href="#">Chains</a></li>
                    <li><a href="#">Bracelets</a></li>
                    <li><a href="#">Necklace</a></li>
                    <li><a href="#">Brooches & Pins</a></li>
                    <li><a href="#">Cufflinks</a></li>
                    <li><a href="#">Clamps for tie</a></li>
                </ul>

            </div>
        </div>
        </div>
{% endblock%}