{% extends "shop/HeadAndNavigation.html" %}
{% load staticfiles %}

{% block page %}
	<div class="row" style="margin-top:6%">
            <div class="col-md-6 col-md-offset-1">

            <img src= "{{product.image.url}}" height=350 />
            <h3 >Characteristics</h3><hr>
            <h5><strong>Name:</strong> {{product.name}}</h5><hr>
            <h5><strong>Insertion:</strong> {{product.insertion}}</h5><hr>
            <h5><strong>Weight insertion:</strong> {{product.weight_insertion}}</h5><hr>
            <h5><strong>Metal:</strong> {{product.metal}}</h5><hr>
            <h5><strong>Weight metal:</strong> <span  class='weight_metal'>{{item.weight_metal}}</span></h5>
            </div>

            <div class="col-md-3 col-md-offset-1">
                <span style='float:left;margin-top: 5px'>SELECT SIZE:</span>
                <select id="sel" style='margin-left: 5px'>
                    {% for article in articles %}
                        <option id='{{ article.id }}' class='size'> {{article.size}} </option>
                    {% endfor %}
                </select>

                <h3>Price: <span class='price' style="color:#F79947">{{item.price}}</span></h3>
                    <button id="{{item.id}}" class="btn btn-primary add">Add to Bag</button>
                </div>
    </div>

         <script>
            $(document).ready(function(){
            $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
            });

                $( "#sel" ).click(function(){
                    var id = $('#sel').find(":selected").prop('id');
                    $.ajax({
                        dataType: 'json',
                        url: "/size/",
                        type: "POST",
                        data: {"article_id": id},
                        success: function(data){
                            $('.price').html(data['price']);
                            $('.weight_metal').html(data['weight_metal'])
                        }
                        
                    });
                });
            });
        </script>            
                
        
  
        <script>
            $(document).ready(function(){
            $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
            });
                $( "button.add" ).click(function(){
                    var current_button = $(this);
                    var id = $('#sel').find(":selected").prop('id');
                    $.ajax({
                        url: "/add_to_cart/",
                        type: "POST",
                        data: {"article_id": id},
                        success: function(data){
                            current_button.replaceWith('Added');
                            $('.bag').html(data);
                        }
                        
                    });
                });
            });
        </script>
{% endblock%}