{% extends "shop/HeadAndNavigation.html" %}
{% load staticfiles %}
{% block page %}
<h1> User information</h1>
<p>First name: {{user.first_name}}</p>
<p>Last name: {{user.last_name}}</p>


{% endblock page%}