{% extends "shop/Page_2col.html" %}
{% load staticfiles %}

	
{% block kind_goods %}
        
            <div class="col-md-2" style="padding-top: 27px;padding-left: 30px;padding-right: ">
    <div class="panel panel-default">
        <div class="panel-heading">Kind of jewelry</div>
        <div class="panel-body">
        
            <form>
                {% for kind in kinds %}
                    <fieldset>
                        <input type="checkbox"/>
                            <span>{{kind}}</span>
                    </fieldset>
                {% endfor %}

               
            </form>     
        </div>
    </div> 




 </div>



{% endblock %}

