{% extends "shop/Base.html" %}
{% load staticfiles %}
{% block page%}
<div class="row">
                <div class="container">    
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-default" >
                    <div class="panel-heading">
                        <div class="panel-title">Sign in</div>
                        <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>
                    </div>     

                    <div style="padding-top:30px" class="panel-body" >
                        {% if user and not user.is_anonymous %}
                            <p>Hello, {{user.last_name}} {{user.first_name}}!</p>
                            <a href = "{% url 'signout' %}"> Sign out </a>
                        {% else %}
                            <a href='/login/vk-oauth2/'>Sign in with VK</a>
                        {% endif %}
                        <div style="display:none" id="signin-alert" class="alert alert-danger col-sm-12"></div>
                            
                        <form id="signinform" class="form-horizontal" role="form">
                                    
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                        <input id="signin-email" type="text" class="form-control" name="email" value="" placeholder="Email Address">                                        
                                    </div>
                                
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input id="signin-password" type="password" class="form-control" name="password" placeholder="Password">
                                    </div>
                                    

                                
                            <div class="input-group">
                                      <div class="checkbox">
                                        <label>
                                          <input id="signin-remember" type="checkbox" name="remember" value="1"> Remember me
                                        </label>
                                      </div>
                                    </div>


                                <div style="margin-top:10px" class="form-group">
                                    <!-- Button -->

                                    <div class="col-sm-12 controls">
                                      <a id="btn-signin" href="#" class="btn btn-primary">Sign in  </a>

                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-12 control">
                                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                            Don't have an account? 
                                        <a href="{% url 'Signup'%}">
                                            Why not sign up today?
                                        </a>
                                        </div>
                                    </div>
                                </div>    
                            </form>     



                        </div>                     
                    </div>  
        </div>
        
            </div>

        </div>
{% endblock %}