{% extends "shop/Base.html" %}
{% load staticfiles %}

{% block page%}
    <div class="row">
                   <div class="container">    
        <div id="signupbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-default" >
                    <div class="panel-heading">
                        <div class="panel-title">Sign up</div>
                        <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="{% url 'Signin' %}">Sign in</a></div>
                    </div>     

                    <div style="padding-top:30px" class="panel-body" >
                        {% if user and not user.is_anonymous %}
                            <p>Hello, {{user.last_name}} {{user.first_name}}!</p>
                            <a href = "{% url 'signout' %}"> Sign out </a>
                        {% else %}
                            <a href='/login/vk-oauth2/'>Sign in with VK</a>
                        {% endif %}
                        
                        <div style="display:none" id="signup-alert" class="alert alert-danger col-sm-12"></div>
                            
                        <form id="signupform" class="form-horizontal" role="form">
                                    
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                        <input id="signup-email" type="text" class="form-control" name="email" value="" placeholder="Email Address">                                        
                                    </div>
                            

                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input id="signup-first_name" type="text" class="form-control" name="first_name" value="" placeholder="First Name">                                        
                                    </div>

                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input id="signup-second_name" type="text" class="form-control" name="first_name" value="" placeholder="Second Name">                                        
                                    </div>

                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                                        <input id="signup-phone" type="text" class="form-control" name="phone" value="" placeholder="Phone">                                        
                                    </div>

                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input id="signup-password" type="password" class="form-control" name="password" placeholder="Password">
                                    </div>

                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input id="signup-confirm-password" type="password" class="form-control" name="confirm-password" placeholder="Confirm Password">
                                    </div>
                                    

                                
                        


                                <div style="margin-top:10px" class="form-group">
                                    <!-- Button -->

                                    <div class="col-sm-12 controls">
                                      <a id="btn-login" href="#" class="btn btn-primary">Sign up  </a>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12 control">
                                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                            By creating your account, you agree to our 
                                        <a href="#">
                                            Terms and Conditions
                                        </a>
                                        </div>
                                    </div>
                                </div> 
    
                            </form>     



                        </div>                     
                    </div>  
        </div>
        
            </div>
    

        </div>
{% endblock %}