{% extends "shop/Sidebar.html" %}
{% load staticfiles %}

{% block content %}

            <div class="col-md-9">
                <div class="row">
                    <div class="intro1"> </div>
                </div>
                <div class="row">
                <div class="intro2">
                    <div class="col-md-4">
                    <h5>TOTAL FOUND: {{amount}}</h5>
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4" style="padding-right: 0px">
                        <div class="row" style="padding-top: 1%">
                        <div class="col-md-5" style="padding-right: 0px;">
                        <h5 style="margin-top: 3.5%;text-align: right;padding-right: 0px">SORT BY:</h5>
                        </div>
                        <div class="col-md-7" style="padding-right: 0px">
                            <div class="btn-group" style="padding-left: 0px">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" style="width: 120px;text-align:left;">Select</button>
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Меню с переключением</span>
                                </button>
                                <ul class="dropdown-menu" role="menu" style="width: 80px">
                                    <li><a href="#">Select</a></li>
                                    <li><a href="#">What's new</a></li>
                                    <li><a href="#">Price low to high</a></li>
                                    <li><a href="#">Price high to low</a></li>
                                </ul>
                            </div>

                        </div>    
                    </div>
                    </div>
                </div>
                </div>

                <div class="row" style="margin-top:2%">  
                {% for product in products%}
                    <div class="col-md-4">
                        <a style = "text-decoration: none" href="/item/{{ product.id }}"><div class="thumbnail">
                        <img style="height: 320; width: 200px" src="{{product.image.url}}">
                            
                                 <h4 class="price"> <span style="color:#2B2929">Price from: </span>{{product.min_price}} Р </h4>
                            <p class="description">{{product.name}}</p>
                            
                        </div>
                        </a>
                    </div>
                    {% endfor %}
                    


                

            </div>
        


{% endblock %}